
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #000000;
    transition: background-color 0.3s ease;
}


body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #fffefe;
    background-color: #504b4b;
    padding: 20px;
}
img{
    max-width: 100%;
    height: auto;
    border-radius: 70px;
    margin: 0 auto;
    border: 5px solid rgba(0,0,0,0.2);
    box-shadow: 0 5px 10px rgba(185, 2, 2, 0.2);
    margin-bottom :20px;
    margin-top: 30px;
    overflow: hidden;
    display: block;
    object-fit: cover;
    cursor: pointer;
    transition: transform 0.3s ease;
    transform: scale(1);
    &:hover {
        transform: scale(1.05);
    }
}

header {
    text-align: center;
    background: #585656;
    color: #eee9e9;
    padding: 20px 0;
}

header nav ul {
    list-style: none;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin: 0 15px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

header h1 {
    margin: 10px 0;
}


main {
    max-width: 800px;
    margin: 20px auto;
    background: #ffffff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    border-radius: 10px;
}

main h2 {
    color: #333;
    margin-bottom: 10px;
    border-bottom: 2px solid #f4f4f4;
    padding-bottom: 5px;
}

main p, main ul {
    margin: 10px 0;
}

main ul {
    list-style: disc inside;
}


.project-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card {
    background: #3f3d3d;
    border: 1px solid #ddd;
    border-radius: 10px;
    width: 250px;
    margin: 10px;
    padding: 15px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    text-align: center;
}

.card img {
    max-width: 100%;
    border-radius: 10px;
}

.card h3 {
    margin: 10px 0;
}

.card p {
    color: #fdfdfd;
}


footer {
    text-align: center;
    padding: 20px 0;
    background: #333030;
    color: #ffffff;
    position: fixed;
    bottom: 0;
    width: 100%;
}

@media (max-width: 600px) {
    header img {
        width: 100%;
        height: auto;
    }
    
    header nav ul li {
        display: block;
        margin: 5px 0;
    }
    
    main {
        padding: 10px;
    }

    .project-cards {
        flex-direction: column;
        align-items: center;
    }
    
    .card {
        width: 90%;
    }
}
